
.card{
   
   
    background: rgb(12,8,97);
    background: radial-gradient(circle, rgba(12,8,97,1) 15%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
    color: aliceblue;
    width: 90%;
    margin: 0 auto;
    height: 80vh;
    padding: 5%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 25px;
  }
 
  .profilebutton{
     display: flex;
     width: auto;
     justify-content: center;
    align-items: center;
    margin: 10px;
  }
 
  .content{
     display: flex;
     flex-direction: column;
     align-items: center;
    
  }
 
  .card button{
     margin: 10px;
 
 
  }
 
 
  div.alljob{
    overflow-y: scroll;
    width: 100%;
    
    height: 200px;
  }
 
  .card h4,h3,h5,h6{
     text-align: center;
  }
 .card hr{
    border: 1px solid black;
 }
 
 